* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

}

.Fiorella {
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    width: 1340px;
    height: 110px;
}

.logo {
    width: 420px;
}

.logo img {
    width: 220px;
    height: 28px;
}

.Fiorella ul {
    display: flex;
    color: #4A4A4A;
    width: 915px;
}

.Fiorella ul li {
    justify-content: left;
    display: flex;
    color: #474747;
    font-size: 14px;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.fiorel {
    display: flex;
    justify-content: left;
    width: 580px;
    gap: 50px;
    height: 25px;
}

.home {
    border-bottom: 1px solid #474747;
}

.homelist {
    display: none;
}

.home:hover .homelist {
    display: block;
    position: absolute;
    width: 165px;
    height: 320px;
    top: 90px;
}

.homelist ul {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagelist {
    width: 160px;
    height: 180px;
    display: none;
}

.page:hover .pagelist {
    display: block;
    position: absolute;
    top: 100px;
}

.pagelist ul {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shops {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.shop:hover .shops {
    display: block;
    display: flex;
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 70px;
    top: 60px;
    
}

.shoplist {
    width: 150px;
    height: 400px;
    
}

.shop:hover .shops .shoplist ul {
    flex-direction: column;
    justify-content: center;
    
}

.shop:hover .shops .shoplist li strong {
    color: #474747;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    
}

.shop:hover .shops .shoplist ul li {
    color: #474747;
    font-family: Montserrat, sans-serif;
    font-size: 14px ;
    
}
.portlist{
    display: none;
  }

  header ul li:hover .portlist{
      display: block;
      position: absolute;
      display: flex;
      justify-content: start;
      height: 220px;
      width: 200px;
      top: 65px;
  }

  .portlist ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  }

  .portlist ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 160px;
    line-height: 30px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

.port1{
display: none;
}

#port:hover .port1{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 210px;
  width: 200px;
  top: 120px;
  left: 200px;
}

.singleport{
  display: none;
}

#single:hover .singleport{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 220px;
  width: 200px;
  top: 150px;
  left: 200px;
  
}

.singleport ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 160px;
  line-height: 30px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

  .blog{
    display: none;
  }

  header ul li:hover .blog{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 200px;
    width: 100px;
    top: 70px;
    
  }
  .blog ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  
  }

  .blog ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 210px;
    line-height: 30px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

  .types{
    display: none;
  }

  #post:hover .types{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 200px;
    width: 200px;
    top: 150px;
    left: 200px;
    
  }

  .types ul{
    display: block;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
  }

  .types ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 140px;
    line-height: 19px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

  .all{
    display: none;
  }

  header ul li:hover .all{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 220px;
    width: 200px;
    top: 60px;
    
    
}

.all ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.all ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 30px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.classics{
  display: none;
}

#classic:hover .classics{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 220px;
  width: 200px;
  top: 20px;
  left: 200px;
}

.classics ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.classics ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 30px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.info{
  display: none;
}

#infographic:hover .info{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 230px;
  width: 180px;
  top: 50px;
  left: 200px;
}

.info ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.info ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 30px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.inter{
  display: none;
}

#interactive:hover .inter{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 250px;
  width: 200px;
  top: 50px;
  left: 200px;
  
}

.inter ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.inter ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 30px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.typ {
  display: none;
}

#typography:hover .typ{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 200px;
  width: 200px;
  top: 100px;
  left: 200px;
  
}

.typ ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.typ ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 30px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}
.icons {
    cursor: pointer;
    padding-right: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#search {
    font-size: 20px;
}
#bag {
    font-size: 20px;
}

